body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  overflow-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.wrapper {
  display: flex;
  width: 100%;
}

#listViewHeader {
  color: #fdfffc;
}

.allLists {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  width: 95%;
  overflow-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px;
}
.allLists .list-card-1 {
  max-width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #373F51;
  color: #fdfffc;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  cursor: pointer;
}
.allLists .list-card-1 .list-card-content {
  padding: 10px;
  margin: 10px;
}
.allLists .list-card-1 .list-card-title {
  font-weight: 600;
}
.allLists .list-card-1:hover {
  background-color: #323031;
}
.allLists .active {
  background-color: #323031;
  padding-top: 30px;
  padding-bottom: 30px;
}

.taskList {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: none;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taskList .task-card-1 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #373F51;
  color: #fdfffc;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin: 10px;
}

.nav {
  position: fixed;
  background-color: #323031;
  color: #fdfffc;
  width: 100%;
}
.nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  height: 5vh;
}

#listView {
  top: calc(5vh + 10px);
  height: calc(100vh - (5vh + 10px));
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #373F51;
  position: fixed;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#viewToDoList {
  width: 80%;
  display: flex;
  left: 20%;
  height: calc(100vh - (5vh + 10px));
  top: calc(5vh + 10px);
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #373F51;
  border-left: 1px solid #535E79;
}

.input-group {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #535E79;
}

input[type=text] {
  border: 0;
  padding: 10px;
  max-width: 100%;
  min-width: 30%;
  background-color: #535E79;
  color: #fdfffc;
}

input[type=text]:focus {
  outline: none;
  padding-bottom: 8px;
  border-bottom: 2px solid #2ec4b6;
}

input[type=text]::placeholder {
  color: #fdfffc;
  opacity: 0.5;
}

.btn, .btn-transparent, .btn-dark, .btn-success, .btn-warning, .btn-secondary, .btn-danger, .btn-primary {
  padding: 10px;
  border-style: none;
  cursor: pointer;
}

.btn:active, .btn-transparent:active, .btn-dark:active, .btn-success:active, .btn-warning:active, .btn-secondary:active, .btn-danger:active, .btn-primary:active {
  background-color: #323031;
  color: #fdfffc;
}

.btn-primary {
  background-color: #2ec4b6;
  color: #fdfffc;
}

.btn-danger {
  background-color: #e71d36;
  color: #fdfffc;
}

.btn-secondary {
  background-color: #535E79;
  color: #fdfffc;
}

.btn-warning {
  background-color: #ff9f1c;
  color: #fdfffc;
}

.btn-success {
  background-color: #44af69;
  color: #fdfffc;
}

.btn-dark {
  background-color: #323031;
  color: #fdfffc;
}

.btn-transparent {
  background-color: transparent;
  color: #fdfffc;
}

@media (max-width: 900px) {
  #viewToDoList {
    width: 100%;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  #listView {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
