body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  overflow-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.wrapper {
  display: flex;
  width: 100%;
}

#listViewHeader {
  color: #fdfffc;
}

.allLists {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  width: 90%;
  height: 100%;
  overflow-y: none;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px;
}
.allLists .list-card-1 {
  max-width: calc(100% - 30px);
  border-radius: 5px;
  display: flex;
  padding: 10px;
  background-color: #414962;
  color: #fdfffc;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  margin-top: 10px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.allLists .list-card-1 .grip {
  padding-right: 5px;
  height: 100%;
  cursor: grab;
  opacity: 0.25;
}
.allLists .list-card-1 .list-card-text {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  padding-left: 5px;
}
.allLists .list-card-1 .list-card-title {
  font-weight: 600;
}
.allLists .active {
  background-color: #292e3d;
  padding-top: 20px;
  padding-bottom: 20px;
}
.allLists .warning {
  background-color: #e71d36;
  color: #fdfffc;
}
.allLists .warning-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.allLists .warning-btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 5px;
}
.allLists .hover {
  background-color: #292e3d;
}
.allLists .isDraggingClass {
  background-color: #2ec4b6;
  opacity: 0.5;
}

.taskList {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: none;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taskList .task-card-1 {
  border-radius: 5px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: #414962;
  color: #fdfffc;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  margin: 10px;
}
.taskList .task-card-1 .grip {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  opacity: 0.25;
}
.taskList .task-card-1 .taskButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskList .hover {
  background-color: #292e3d;
}
.taskList .isDraggingClass {
  background-color: #2ec4b6;
  opacity: 0.5;
}

.nav {
  position: fixed;
  background-color: #323031;
  color: #fdfffc;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 5vh;
}

#listView {
  top: calc(5vh + 10px);
  height: calc(100vh - (5vh + 10px));
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #373f51;
  position: fixed;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#viewToDoList {
  width: 80%;
  display: flex;
  left: 20%;
  height: calc(100vh - (5vh + 10px));
  top: calc(5vh + 10px);
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  position: fixed;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #373f51;
  border-left: 1px solid #535e79;
}
#viewToDoList #viewToDoListHeader {
  width: 100%;
}

.input-group {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #535e79;
}

input[type=text], input[type=textarea] {
  border: 0;
  padding: 10px;
  max-width: 100%;
  min-width: 30%;
}
input[type=text]:focus, input[type=textarea]:focus {
  outline: none;
  background-color: #fdfffc;
  color: #535e79;
}
input[type=text]::placeholder, input[type=textarea]::placeholder {
  color: #fdfffc;
  opacity: 0.5;
}
input[type=text]:focus::placeholder, input[type=textarea]:focus::placeholder {
  color: #535e79;
  opacity: 0.5;
}

.addFormTextInput {
  background-color: #535e79;
  color: #fdfffc;
}

.labelTextInput {
  background-color: transparent;
  color: #fdfffc;
  cursor: pointer;
  width: 100%;
  margin: 5px;
  border-radius: 5px;
  font-size: large;
  word-wrap: break-word;
  resize: none;
}
.labelTextInput:focus {
  cursor: text;
}

.headerTextInput {
  background-color: transparent;
  color: #fdfffc;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  cursor: auto;
  font-size: xx-large;
}
.headerTextInput:focus {
  cursor: text;
}

input[type=checkbox] {
  appearance: none;
  border-radius: 5px;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  background-color: transparent;
}
input[type=checkbox]:checked + label {
  text-decoration: line-through;
  opacity: 0.5;
  font-weight: 600;
}
input[type=checkbox]::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
}

.checkLabel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.btn, .btn-transparent, .btn-dark, .btn-success, .btn-warning, .btn-secondary-invert, .btn-secondary, .btn-danger-invert, .btn-danger, .btn-primary {
  padding: 10px;
  border-style: none;
  cursor: pointer;
}
.btn:hover:active, .btn-transparent:hover:active, .btn-dark:hover:active, .btn-success:hover:active, .btn-warning:hover:active, .btn-secondary-invert:hover:active, .btn-secondary:hover:active, .btn-danger-invert:hover:active, .btn-danger:hover:active, .btn-primary:hover:active {
  background-color: #323031;
  color: #fdfffc;
  border: none;
}

.btn-primary {
  border-radius: 5px;
  background-color: transparent;
  color: #2ec4b6;
}
.btn-primary:hover {
  background-color: #2ec4b6;
  color: #fdfffc;
}

.btn-danger {
  border-radius: 5px;
  background-color: transparent;
  color: #e71d36;
}
.btn-danger:hover {
  background-color: #e71d36;
  color: #fdfffc;
}

.btn-danger-invert {
  border-radius: 5px;
  background-color: #fdfffc;
  border: 1px solid transparent;
  color: #e71d36;
}
.btn-danger-invert:hover {
  background-color: #e71d36;
  border: 1px solid #fdfffc;
  color: #fdfffc;
}

.btn-secondary {
  border-radius: 5px;
  background-color: transparent;
  color: #fdfffc;
}
.btn-secondary:hover {
  background-color: #fdfffc;
  color: #373f51;
}

.btn-secondary-invert {
  border-radius: 5px;
  background-color: #fdfffc;
  border: 1px solid transparent;
  color: #373f51;
  box-sizing: content-box;
}
.btn-secondary-invert:hover {
  background-color: #373f51;
  border: 1px solid #fdfffc;
  color: #fdfffc;
}

.btn-warning {
  border-radius: 5px;
  background-color: transparent;
  color: #ff9f1c;
}
.btn-warning:hover {
  background-color: #ff9f1c;
  color: #fdfffc;
}

.btn-success {
  border-radius: 5px;
  background-color: transparent;
  color: #44af69;
}
.btn-success:hover {
  background-color: #44af69;
  color: #fdfffc;
}

.btn-dark {
  background-color: #323031;
  color: #fdfffc;
}
.btn-dark:hover {
  background-color: #535e79;
}

.btn-transparent {
  background-color: transparent;
  color: #fdfffc;
}

.btn-input-br {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.text-input-br {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

@media (max-width: 900px) {
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .smallScreenDeleteBtn {
    font-size: x-large;
  }
  #viewToDoList {
    width: 100vw;
    top: 5vh;
    bottom: 5vh;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    left: 0;
    right: 0;
  }
  #viewToDoList #viewToDoListHeader {
    overflow-wrap: break-word;
  }
  #viewToDoList #viewToDoListHeader p {
    overflow-wrap: break-word;
  }
  #viewToDoList .taskList {
    width: 100%;
    height: fit-content;
    overflow-y: unset;
    overflow-x: unset;
    padding-bottom: 10vh;
  }
  #viewToDoList .taskList .task-card-1 {
    word-wrap: break-word;
  }
  #viewToDoList .taskList .task-card-1 .grip {
    height: 100%;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    font-size: x-large;
  }
  .nav {
    height: 5vh;
  }
  #listView {
    width: 100vw;
    top: 5vh;
    bottom: 5vh;
    height: 100%;
    overflow-y: hidden;
  }
  #listView #addListForm {
    min-height: 10vh;
    max-height: 10vh;
  }
  #listView .allLists {
    height: fit-content;
    padding-bottom: 10vh;
  }
  #listView .allLists .list-card-1 .grip {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    font-size: x-large;
  }
}

/*# sourceMappingURL=style.css.map */
