$metallic-seaweed: #177e89ff;
$midnight-green-eagle-green: #084c61ff;
$permanent-geranium-lake: #db3a34ff;
$maximum-yellow-red: #ffc857ff;
$jet: #323031ff;
$primary-white: #fdfffcff;

$medium-sea-green: #44af69ff;
$red-salsa: #f8333cff;
$bright-yellow-crayola: #fcab10ff;
$blue-munsell: #2b9eb3ff;
$dutch-white: #dbd5b5ff;

$baby-powder: #fdfffcff;
$tiffany-blue: #2ec4b6ff;
$rose-madder: #e71d36ff;
$charcoal: #313749ff;
$orange-peel: #ff9f1cff;

$independence-2: #414962ff;
$independence-1: #394056ff;
$charcoal: #373F51;
$gunmetal: #292e3dff;
// $granite-gray: #686466ff;
$granite-gray: #535E79;

$primary-grey: #373F51;
$secondary-grey: #212531;

$primary-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;