$metallic-seaweed: #177e89ff;
$midnight-green-eagle-green: #084c61ff;
$permanent-geranium-lake: #db3a34ff;
$maximum-yellow-red: #ffc857ff;
$jet: #323031ff;
$primary-white: #fdfffcff;

$medium-sea-green: #44af69ff;
$red-salsa: #f8333cff;
$bright-yellow-crayola: #fcab10ff;
$blue-munsell: #2b9eb3ff;
$dutch-white: #dbd5b5ff;

$baby-powder: #fdfffcff;
$tiffany-blue: #2ec4b6ff;
$rose-madder: #e71d36ff;
$charcoal: #313749ff;
$orange-peel: #ff9f1cff;

// $charcoal: #2f4858ff;
$charcoal: #373F51;
// $granite-gray: #686466ff;
$granite-gray: #535E79;

$primary-grey: #373F51;
$secondary-grey: #212531;

