@use '_var.scss';

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    // background-image: url(../img/192136.jpg);
    background-position: center;
    background-size: cover;
    overflow-y: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.container {
    // top: calc(5vh + 10px);
    // margin: 5px;

}

.wrapper {
    display: flex;
    width: 100%;
    // margin: 5px;
}

#listViewHeader {
    color: var.$primary-white;
}

.allLists {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    width: 90%;
    height: 100%;
    overflow-y: none;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 10px;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    // box-sizing:border-box;

    .list-card-1 {
        max-width: calc(100% - 30px);
        border-radius: 5px;
        // overflow:auto;
        // background-color: var.$primary-white;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        // border: 1px solid var.$jet;
        background-color: var.$independence-2;
        color: var.$primary-white;
        // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        box-shadow: var.$primary-box-shadow;
        margin-top: 10px;
        cursor: pointer;

        .list-card-content {
            padding: 10px;


            margin: 10px;
        }

        .list-card-title {
            font-weight: 600;
        }

    }

    .list-card-1:hover {
        background-color: var.$gunmetal;
    }

    .active {
        // background-color: var.$blue-munsell;
        // background-color: var.$granite-gray;
        // color: var.$primary-white;
        background-color: var.$gunmetal;
        padding-top: 30px;
        padding-bottom: 30px;
        // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        // box-shadow: none;
    }
}

.taskList {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: none;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-end;
    // border-top: 0.5px solid var.$granite-gray;

    .task-card-1 {
        border-radius: 5px;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        // flex-direction: row;
        padding: 10px;
        background-color: var.$independence-2;
        color: var.$primary-white;
        // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        box-shadow: var.$primary-box-shadow;
        margin: 10px;

        .taskButtons {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .task-card-1:hover {
        background-color: var.$gunmetal;
    }
}

.nav {
    position: fixed;
    background-color: var.$jet;
    color: var.$primary-white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        height: 5vh;
    }
}

#listView {
    top: calc(5vh + 10px);
    height: calc((100vh) - (5vh + 10px));
    width: 20%;
    // z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // margin: 0;
    // padding: 0;
    background-color: var.$charcoal;
    position: fixed;
    // overflow-y: scroll;
    // overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    // box-sizing: border-box;
}

#viewToDoList {
    width: 80%;
    display: flex;
    // margin: 10px;
    // padding: 10px;
    left: 20%;
    height: calc(100vh - (5vh + 10px));
    // right: 30%;
    top: calc(5vh + 10px);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    position: fixed;
    // overflow-y:scroll;
    // overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var.$charcoal;
    border-left: 1px solid var.$granite-gray;

    // box-sizing: content-box;
    #viewToDoListHeader {
        width: 100%;
    }
}

.input-group {
    // border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    // position: fixed;
    // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-bottom: 1px solid var.$granite-gray;
}

input[type="text"] {
    border: 0;
    padding: 10px;
    max-width: 100%;
    min-width: 30%;
    // border-radius: 5px;
    // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    // background-color: var.$granite-gray;
    // color: var.$primary-white;

    &:focus {
        outline: none;
        background-color: var.$baby-powder;
        color: var.$granite-gray;
    }

    &::placeholder {
        color: var.$primary-white;
        opacity: 0.5;
    }

    &:focus::placeholder {
        color: var.$granite-gray;
        opacity: 0.5;
    }
}

.addFormTextInput {
    background-color: var.$granite-gray;
    color: var.$primary-white;
}

.labelTextInput {
    background-color: transparent;
    color: var.$primary-white;
    cursor: pointer;
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    font-size: large;

    &:focus {
        cursor: text;
    }
}

.headerTextInput {
    background-color: transparent;
    color: var.$primary-white;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    cursor: auto;
    font-size: xx-large;

    &:focus {
        cursor: text;
    }
}

input[type="checkbox"] {
    appearance: none;
    border-radius: 5px;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    background-color: transparent;

    &:checked {
        &+label {
            text-decoration: line-through;
            opacity: 0.5;
            font-weight: 600;
        }
    }

    &::after {
        content: '';
        position: relative;
        top: 0;
        left: 0;
    }
}

.checkLabel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.btn {
    padding: 10px;
    // margin: 5px;
    // border-radius: 5px;
    border-style: none;
    cursor: pointer;

    &:hover:active {
        background-color: var.$jet;
        color: var.$primary-white;
        border: none;
    }
}

.btn-primary {
    @extend .btn;
    border-radius: 5px;
    background-color: transparent;
    color: var.$tiffany-blue;

    &:hover {
        background-color: var.$tiffany-blue;
        color: var.$primary-white;
    }
}

.btn-danger {
    @extend .btn;
    border-radius: 5px;
    background-color: transparent;
    color: var.$rose-madder;

    &:hover {
        background-color: var.$rose-madder;
        color: var.$primary-white
    }
}

.btn-secondary {
    @extend .btn;
    border-radius: 5px;
    background-color: transparent;
    color: var.$primary-white;

    &:hover {
        background-color: var.$primary-white;
        color: var.$primary-grey;
    }
}

.btn-warning {
    @extend .btn;
    border-radius: 5px;
    background-color: transparent;
    color: var.$orange-peel;

    &:hover {
        background-color: var.$orange-peel;
        color: var.$primary-white;
    }
}

.btn-success {
    @extend .btn;
    border-radius: 5px;
    background-color: transparent;
    color: var.$medium-sea-green;

    &:hover {
        background-color: var.$medium-sea-green;
        color: var.$primary-white;
    }
}

.btn-dark {
    @extend .btn;
    background-color: var.$jet;
    color: var.$primary-white;

    &:hover {
        background-color: var.$granite-gray;
    }
}

.btn-transparent {
    @extend .btn;
    background-color: transparent;
    color: var.$primary-white;
}

.btn-input-br {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.text-input-br {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

@media (max-width: 900px) {
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #viewToDoList {
        width: 100vw;
        top: 5vh;
        bottom: 5vh;
        // min-height: 100vh;
        height: 100%;
        overflow-y:scroll;
        overflow-x: hidden;
        word-wrap: break-word;
        // visibility: hidden;
        // position: absolute;
        left: 0;
        right: 0;

        #viewToDoListHeader {
            // position: static;
            // max-height: 20vh;
            overflow-wrap: break-word;

            p {
                overflow-wrap: break-word;
            }
        }

        .taskList {
            list-style-type: none;
            list-style-position: inside;
            margin: 0;
            padding: 0;
            width: 100%;
            height: fit-content;
            overflow-y: unset;
            overflow-x: unset;
            -ms-overflow-style: none;
            scrollbar-width: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 10vh;
        }
    }

    .nav {
        // position:inherit;
        height: 5vh;
    }

    #listView {
        // position:absolute;
        width: 100vw;
        top: 5vh;
        bottom: 5vh;
        // min-height: max-content;
        // height: calc((100vh) - (5vh + 10px));
        // min-height: max-content;
        height: 100%;
        overflow-y: hidden;

        // height: max-content;
        #addListForm {
            // position: fixed;
            min-height: 10vh;
            max-height: 10vh;
        }

        .allLists {
            // max-height: 75vh;
            height: fit-content;
            padding-bottom: 10vh;
            // min-height: max-content;
            // max-height: max-content;
        }
    }
}