@use '_var.scss';

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    overflow-y: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.container {}

.wrapper {
    display: flex;
    width: 100%;
}

#listViewHeader {
    color: var.$primary-white;
}

.allLists {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    width: 90%;
    height: 100%;
    overflow-y: none;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 10px;

    .list-card-1 {
        max-width: calc(100% - 30px);
        border-radius: 5px;
        display: flex;
        padding: 10px;
        background-color: var.$secondary-grey;
        color: var.$primary-white;
        box-shadow: var.$primary-box-shadow;
        margin-top: 10px;
        box-sizing: content-box;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .list-card-text {
            width: 100%;
            height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
        }

        .list-card-title {
            font-weight: 600;
        }

    }

    .list-card-1:hover {
        background-color: var.$secondary-black;
    }

    .active {
        background-color: var.$secondary-black;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.taskList {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: none;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    .task-card-1 {
        border-radius: 5px;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        // flex-direction: row;
        padding: 10px;
        background-color: var.$secondary-grey;
        color: var.$primary-white;
        // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        box-shadow: var.$primary-box-shadow;
        margin: 10px;

        .taskButtons {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .task-card-1:hover {
        background-color: var.$secondary-black;
    }
}

.nav {
    position: fixed;
    background-color: var.$primary-black;
    color: var.$primary-white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        height: 5vh;
    }
}

#listView {
    top: calc(5vh + 10px);
    height: calc((100vh) - (5vh + 10px));
    width: 20%;
    // z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // margin: 0;
    // padding: 0;
    background-color: var.$primary-grey;
    position: fixed;
    // overflow-y: scroll;
    // overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    // box-sizing: border-box;
}

#viewToDoList {
    width: 80%;
    display: flex;
    // margin: 10px;
    // padding: 10px;
    left: 20%;
    height: calc(100vh - (5vh + 10px));
    // right: 30%;
    top: calc(5vh + 10px);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    position: fixed;
    // overflow-y:scroll;
    // overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var.$primary-grey;
    border-left: 1px solid var.$tertiary-grey;

    // box-sizing: content-box;
    #viewToDoListHeader {
        width: 100%;
    }
}

.input-group {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid var.$tertiary-grey;
}

input[type="text"] {
    border: 0;
    padding: 10px;
    max-width: 100%;
    min-width: 30%;

    &:focus {
        outline: none;
        background-color: var.$primary-white;
        color: var.$tertiary-grey;
    }

    &::placeholder {
        color: var.$primary-white;
        opacity: 0.5;
    }

    &:focus::placeholder {
        color: var.$tertiary-grey;
        opacity: 0.5;
    }
}

.addFormTextInput {
    background-color: var.$tertiary-grey;
    color: var.$primary-white;
}

.labelTextInput {
    background-color: transparent;
    color: var.$primary-white;
    cursor: pointer;
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    font-size: large;

    &:focus {
        cursor: text;
    }
}

.headerTextInput {
    background-color: transparent;
    color: var.$primary-white;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    cursor: auto;
    font-size: xx-large;

    &:focus {
        cursor: text;
    }
}

input[type="checkbox"] {
    appearance: none;
    border-radius: 5px;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    background-color: transparent;

    &:checked {
        &+label {
            text-decoration: line-through;
            opacity: 0.5;
            font-weight: 600;
        }
    }

    &::after {
        content: '';
        position: relative;
        top: 0;
        left: 0;
    }
}

.checkLabel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.btn {
    padding: 10px;
    border-style: none;
    cursor: pointer;

    &:hover:active {
        background-color: var.$primary-black;
        color: var.$primary-white;
        border: none;
    }
}

.btn-primary {
    @extend .btn;
    border-radius: 5px;
    background-color: transparent;
    color: var.$primary-color;

    &:hover {
        background-color: var.$primary-color;
        color: var.$primary-white;
    }
}

.btn-danger {
    @extend .btn;
    border-radius: 5px;
    background-color: transparent;
    color: var.$danger-color;

    &:hover {
        background-color: var.$danger-color;
        color: var.$primary-white
    }
}

.btn-secondary {
    @extend .btn;
    border-radius: 5px;
    background-color: transparent;
    color: var.$primary-white;

    &:hover {
        background-color: var.$primary-white;
        color: var.$primary-grey;
    }
}

.btn-warning {
    @extend .btn;
    border-radius: 5px;
    background-color: transparent;
    color: var.$warning-color;

    &:hover {
        background-color: var.$warning-color;
        color: var.$primary-white;
    }
}

.btn-success {
    @extend .btn;
    border-radius: 5px;
    background-color: transparent;
    color: var.$success-color;

    &:hover {
        background-color: var.$success-color;
        color: var.$primary-white;
    }
}

.btn-dark {
    @extend .btn;
    background-color: var.$primary-black;
    color: var.$primary-white;

    &:hover {
        background-color: var.$tertiary-grey;
    }
}

.btn-transparent {
    @extend .btn;
    background-color: transparent;
    color: var.$primary-white;
}

.btn-input-br {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.text-input-br {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

@media (max-width: 900px) {
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #viewToDoList {
        width: 100vw;
        top: 5vh;
        bottom: 5vh;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        word-wrap: break-word;
        left: 0;
        right: 0;

        #viewToDoListHeader {
            overflow-wrap: break-word;

            p {
                overflow-wrap: break-word;
            }
        }

        .taskList {
            width: 100%;
            height: fit-content;
            overflow-y: unset;
            overflow-x: unset;
            padding-bottom: 10vh;
        }
    }

    .nav {
        height: 5vh;
    }

    #listView {
        width: 100vw;
        top: 5vh;
        bottom: 5vh;
        height: 100%;
        overflow-y: hidden;

        #addListForm {
            min-height: 10vh;
            max-height: 10vh;
        }

        .allLists {
            height: fit-content;
            padding-bottom: 10vh;
        }
    }
}